<% if (locals.messages) { %>
  <ul>
    <% messages.forEach((message) => { %>
      <li><%= message %></li>
    <% }) %>
  </ul>
<% } %>
<% if (locals.errors) { %>
  <ul>
      <% errors.forEach((error) => { %>
          <li><%= error.msg || error %></li>
      <% }) %>
  </ul>
<% } %>
