<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>CloudShare</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <main>
      <div class="main-container">
        <h1 class="letter-animation">CloudShare</h1>
        <% if (locals.user) { %>
          <p>Welcome back!</p>
          <p><%= user.email %></p>
          <a href="/drive">
            <button>Go to your Drive</button>
          </a>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="uploaded_file">
            <input type="text" placeholder="What do you want to say to your friends?" name="user_message">
            <input type="submit" value="Click to share with your friends!">
          </form>
        <% } %>
      </div>
    </main>
    <%- include("./partials/footer") %>
    <script>
      const heading = document.querySelector(".letter-animation");
      const text = heading.textContent;
      heading.textContent = "";

      for (let i = 0; i < text.length; i++) {
        const span = document.createElement("span");
        span.textContent = text[i];
        span.classList.add("letter");
        heading.appendChild(span);
      }
    </script>
  </body>
</html>
