/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  background: skyblue;
  background: linear-gradient(
    180deg,
    skyblue 0%,
    lightsteelblue 50%,
    whitesmoke 100%
  );
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: whitesmoke;
  border-radius: 25%;
  padding: 0.6em 1.2em;
}

nav.container {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
